/* Globals and utilities */


/* PaulIrish trick */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.myContainer {
    max-width: 1024px;
    margin: 0 auto;
    width: calc(100% - 20%);
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-300 {
    font-weight: 300;
}

.pink-text {
    color: #FA6980;
}

.black-text {
    color: #2A3037;
}

.white-text {
    color: #FFFFFF;
}

.grey-text {
    color: #7F8891;
}

.white-grey-text {
    color: #CBD0D3;
}

.background-black {
    background-color: #2A3037;
}

.boxWithShadow {
    box-shadow: 2px 2px 5px #999;
    margin-bottom: 3px;
}

img.icon {
    width: 15px;
}

.bottom-line {
    border-bottom: 2px solid #FFFFFF;
}

.text-size-1 {
    font-size: 1.7em;
}

.text-size-2 {
    font-size: 1.5em;
}

.text-size-3 {
    font-size: 1.2em;
}

.text-size-4 {
    font-size: 1em;
}

.text-size-5 {
    font-size: 0.8em;
}

.bg-secondary {
    background-color: #FA6980 !important;
    border-radius: 6px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.only-web {
    display: none;
}

@media (min-width: 1024px) {
    .only-web {
        display: block;
    }
}


/*  */


/* header */

header {
    height: 50px;
}

div.nav-slider-container {
    background-image: url("/assets/iconos/nav_slider.svg");
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    left: 0px;
    bottom: 1%;
}

@media (min-width: 1024px) {
    div.nav-slider-container {
        background-image: url("/assets/iconos/nav_slider_long.svg");
        left: 0px;
        bottom: 10%;
    }
}

header input {
    display: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* sectionAmericaSur */

section.sectionAmericaSur {
    background-image: url("/assets/img/Viajes_Hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35em;
}

.lugares-maravillosos-text {
    line-height: 2em;
    border-top: 2px solid #FFFFFF;
}

@media (min-width: 1024px) {
    section.sectionAmericaSur {
        height: 45em;
        padding-top: 10%;
    }
    div.text-america {
        max-width: 35%;
    }
    div.proximaAventura {
        height: 177px;
        width: 280px;
        background: #2A3037 0% 0% no-repeat padding-box;
        background: rgba(42, 48, 55, 0.5);
        border: 2px dashed rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        bottom: 10%;
        right: 10%;
    }
}


/* Section tendencias */

section.sectionTendencias {
    background-color: #EBEBEB;
}

div.posicionarBadge {
    bottom: -30px;
    right: -30px;
}

span.badge {
    top: -45px;
    padding: 7px 12px;
}


/* Section Blog */

div.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 28em;
    border-radius: 6px;
}

div.background-bridge {
    background-image: url("/assets/img/articulo_big_01.png");
}

div.background-forest {
    background-image: url("/assets/img/articulo_big_02.png");
}

div.footer-blog-item {
    bottom: 2em;
}


/* Footer */

footer {
    height: 80px;
}

footer div:first-child {
    height: 100%;
}