/* header */

header {
    height: 50px;
}

@media (min-width: 1024px) {
    header {
        height: 50px;
        position: fixed;
        z-index: 99999;
        background-color: #FFFFFF;
        width: 100%;
    }
}

header input {
    display: none;
}

header a {
    margin-right: 33px;
}

header a:last-of-type {
    margin-right: 0px;
}

label.hamburguer-menu {
    cursor: pointer;
}

header div.menu-desktop {
    display: none !important;
}

@media (min-width: 1024px) {
    header div.menu-desktop {
        display: block !important;
    }
    .mobile-menu {
        display: none;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

div.background-grey {
    /* position: relative; */
    position: absolute;
    background-color: #EBEBEB;
    height: 50em;
    width: 100%;
    bottom: -75%;
}


/* section America del Sur */

section.sectionAmericaSur {
    background-image: url("/assets/img/Viajes_Hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35em;
}

section.sectionAmericaSur h1 {
    font-size: 1.5em;
}

section.sectionAmericaSur img.pin-icon {
    width: 11px;
    height: 16px;
}

.lugares-maravillosos-text {
    line-height: 2em;
    border-top: 2px solid #FFFFFF;
}

div.nav-slider-container {
    background-image: url("/assets/iconos/nav_slider.svg");
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    left: 0px;
    bottom: 1%;
}

@media (min-width: 1024px) {
    section.sectionAmericaSur {
        height: 45em;
        padding-top: 10%;
    }
    section.sectionAmericaSur h1 {
        font-size: 2.9em;
    }
    section.sectionAmericaSur img.pin-icon {
        width: 23px;
        height: 34px;
    }
    div.text-america {
        max-width: 55%;
    }
    div.proximaAventura {
        height: 177px;
        width: 280px;
        background: #2A3037 0% 0% no-repeat padding-box;
        background: rgba(42, 48, 55, 0.5);
        border: 2px dashed rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        bottom: 10%;
        right: 14%;
    }
    div.nav-slider-container {
        background-image: url("/assets/iconos/nav_slider_long.svg");
        left: 0px;
        bottom: 10%;
    }
}


/* Section tendencias */

section.sectionTendencias {
    background-color: #EBEBEB;
}

.bg-secondary {
    background-color: #FA6980 !important;
    border-radius: 6px;
}

div.posicionarBadge {
    bottom: -30px;
    right: -30px;
}

span.badge {
    top: -45px;
    padding: 7px 12px;
}


/* Section Blog */

@media (min-width: 1024px) {
    .myContainer-lg {
        max-width: 1024px;
        margin: 0 auto;
        width: calc(100% - 20%);
    }
}

article.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 28em;
    border-radius: 6px;
}

@media (min-width: 1024px) {
    article.background-image {
        height: 28em;
    }
}

article.background-bridge {
    background-image: url("/assets/img/articulo_big_01.png");
}

article.background-forest {
    background-image: url("/assets/img/articulo_big_02.png");
}

div.footer-blog-item {
    bottom: 2em;
}


/* Footer */

footer {
    height: 80px;
}

footer div:first-child {
    height: 100%;
}


/* mobile nav */

nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    background: #FFFFFF;
    height: 100vh;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}

ul {
    margin-top: 70px;
}

nav li {
    padding: 8px;
}


/* nav li a {
    transition: all 0.3s ease-in-out;
} */

nav li a:hover,
div.menu-desktop a:hover {
    color: #FA6980;
}

label.nav_close_icon {
    position: relative;
    position: absolute;
    left: 145px;
    top: 10px;
    cursor: pointer;
}


/* Trigger menu */

input#nav_trigger {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

input#nav_trigger:checked+nav {
    transform: translateX(0%);
}